<footer class="flex justify-end bg-yellow-500 border-2 border-black">
  <div class="py-1 px-2">
    Website by <a href="https://aliencyb.org" class="text-blue-500">
                 AlienCyborg
               </a>
  </div>
</footer>
