<div class="flex flex-wrap items-center justify-around mx-4 md:my-4">
  <LinkButtonIcon
    @name="facebook"
    @href="https://facebook.com/chucklove909"
    @path="entypo-social/facebook.svg"
  />
  <LinkButtonIcon
    @name="itunes"
    @href="https://itunes.apple.com/us/artist/chuck-love/id79069264"
    @path="entypo-social/app-store.svg"
  />
  <LinkButtonIcon
    @name="soundcloud"
    @href="https://soundcloud.com/chuck-love-1"
    @path="entypo-social/soundcloud.svg"
  />
  <LinkButtonIcon
    @name="google play"
    @href="https://play.google.com/store/music/artist/Chuck_Love?id=A3bwugr27dl7hpsw3qsdqmug4jq"
    @path="entypo-social/google-play.svg"
  />
  <LinkButtonIcon
    @name="twitter"
    @href="https://twitter.com/chucklove909"
    @path="entypo-social/twitter.svg"
  />
  <LinkButtonIcon
    @name="youtube"
    @href="https://www.youtube.com/results?search_query=chuck+love+music"
    @path="entypo-social/youtube.svg"
  />
  <LinkButtonIcon
    @name="mixcloud"
    @href="https://www.mixcloud.com/discover/chuck-love/"
    @path="entypo/cloud.svg"
  />
  <LinkButtonIcon
    @name="beatport"
    @href="https://www.beatport.com/artist/chuck-love/7578"
    @path="entypo/note.svg"
  />
  <LinkButtonIcon
    @name="discogs"
    @href="https://www.discogs.com/artist/217129-Chuck-Love"
    @path="entypo/vinyl.svg"
  />
</div>