@import "ember-bootstrap/bootstrap";
@import "variables";

html {
  position: relative;
  min-height: 100%;
}

body {
  background: $background-color;
  margin-bottom: $footer-height;
}

/* Sticky Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-background;
}

/* Responsive typography */

html body {
  font-size: $font-size-base;
}

@include media-breakpoint-up(sm) {
  html body {
    font-size: ($font-size-base * 1.2);
  }
}

@include media-breakpoint-up(md) {
  html body {
    font-size: ($font-size-base * 1.4);
  }
}

@include media-breakpoint-up(lg) {
  html body {
    font-size: ($font-size-base * 1.6);
  }
}

@import "index";
