<div class="flex flex-col container mx-auto">

  <ColorTitle>Chuck Love Music</ColorTitle>

  <div class="flex-1"></div>

  <div class="flex-init mx-auto">
    <img src="assets/images/chuck-love-suitcase.jpg" alt="Chuck on the road">
  </div>

</div>