<div class="flex flex-col container mx-auto">
  <div class="font-title text-center text-5xl md:text-6xl md:py-4
    text-yellow-400 mx-auto leading-tight">
    <h2>Chuck Love Music</h2>
  </div>

  <div class="flex-1"></div>

  <div class="flex-init mx-auto">
    <img src="assets/images/chuck-love-suitcase.jpg" alt="Chuck on the road">
  </div>

  <div class="flex-1"></div>
</div>